body {
    margin: 0;
    font-family: "Lato", sans-serif;
    line-height: 1.6;
  }
  
  /* Styles Logo Div in NavBar */
  .top-nav .logo {
    display: flex;
    align-items: center;
    color: #013D79;
    font-family: "Noto Serif", serif;
    font-size: 32px;
    margin: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0px 40px;
    gap: 8px;
  }
  
  /* Styles TopNavBar */
  .top-nav {
    background-color: #F8FDF9;
    overflow: hidden;
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
  }
  
  /* Links inside TopNavBar */
  .top-nav a {
    float: left;
    display: block;
    color: #013D79;
    text-align: left;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 20px;
  }
  
  /* TopNavBar Links on hover */
  .top-nav a:hover:not(.no-hover) {
    background-color: #CFF3D7;
    color: #013D79;
  }
  
  /* Colors active class for current page */
  .top-nav a.active {
    background-color: #BCF0C6;
    color: #013D79;
  }
  
  /* Hides TopNavBar icon used for small screens */
  .top-nav .icon {
    display: none;
  }
  
  /* Dropdown Menu Styling */
  .dropdown {
    float: left;
    overflow: hidden;
    position: relative; /* Add this to position the dropdown content relative to the button */
  }
  
  /* Dropdown Button Styling */
  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    margin: 0;
    padding: 20px 20px;
    color: #013D79;
    background-color: inherit;
    font-family: inherit;
    cursor: pointer;
  }
  
  /* Styles Dropdown button on hover if dropdown content shown */
  .dropdown:hover .dropbtn {
    background-color: #CFF3D7;
  }
  
  /* Dropdown Content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #EBFBEE;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
    z-index: 1;
    top: 100%; /* Position it directly below the button */
    left: 0;
    min-width: 100%; /* Make it at least as wide as the button */
  }
  
  /* Links inside Dropdown */
  .dropdown-content a {
    float: none;
    color: #013D79;
    padding: 16px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #DEF7E4;
    color: #013D79;
  }
  
  /* Dropdown Content shows on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .arrow-flip {
    margin-left: 4px;
    transition: transform 0.3s ease;
  }
  
  /* Rotate arrow on dropdown hover */
  .dropdown:hover .arrow-flip {
    transform: rotate(180deg);
  }
  
  /* Screen size < 600px wide = hide all besides leftmost element & show Menu icon to collapse/expand menu */
  @media screen and (max-width: 600px) {
    .top-nav a:not(:first-child), .dropdown .dropbtn {
      display: none;
    }
    .top-nav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* Styles Responsive NavBar for small screens & switches to VerticalBar */
  @media screen and (max-width: 600px) {
    .top-nav.responsive {
      position: relative;
    }
    .top-nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .top-nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .top-nav.responsive .dropdown {
      float: none;
    }
    .top-nav.responsive .dropdown-content {
      position: relative;
    }
    .top-nav.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
  }
  
  /* Sign-in button styling */
  .sign-in-button {
    background-color: #013D79;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-left: auto;
  }