@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
:root{
  --accent_color: ;
  --base_color: ;
  --text-color: ;
}

*{
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  line-height: 1.6;
}

/* Styles Logo Div in NavBar*/
.top-nav .logo {
  display: flex;
  align-items: center;
  color: #013D79;
  font-family: "Noto Serif", serif;
  font-size: 28px;
  margin: 20px;
  font-weight: 600;
  line-height: normal;
  padding: 0px 20px;
  gap: 8px;
}

/* Styles TopNavBar */
.top-nav {
  background-color: #F8FDF9;
  overflow: hidden;
}
/* Links inside TopNavBar */
.top-nav a {
  float: left;
  display: block;
  color: #013D79;
  text-align: left;
  padding: 36px 20px;
  text-decoration: none;
  font-size: 20px;
}
/* Styles TopNavBar Links on hover& DropdownBtn if 
dropdown content shown except for class no-hover*/
.top-nav a:hover:not(.no-hover), .dropdown:hover .dropbtn:not(.no-hover) {
  background-color: #CFF3D7;
  color: #013D79;
  font-weight: 600;
}
/* Colors active class for current page */
.top-nav a.active {
  background-color: #BCF0C6;
  color: #013D79;
}

/* Hides TopNavBar icon used for small screens */
.top-nav .icon {
  display: none;
}
/* Dropdown Menu Styling */
.top-nav .dropdown {
  float: left;
  overflow: hidden;
}
/* Dropdown Button Styling */
.top-nav .dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  margin: 0;
  padding: 36px 20px;
  color: #013D79;
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
}
/* Styles Dropdown button on hover if dropdown content shown
except for class no-hover */
.top-nav .dropdown:hover .dropbtn:not(.no-hover) {
  background-color: #CFF3D7;
  font-weight: 600;
}
/* Dropdown Content */
.top-nav .dropdown-content {
  min-width: 180px;
  display: none;
  position: absolute;
  background-color: #EBFBEE;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
  z-index: 1;
}
/* Links inside Dropdown */
.top-nav .dropdown-content a {
  float: none;
  color: #013D79;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.top-nav .dropdown-content a:hover {
  background-color: #DEF7E4;
  color: #013D79;
  font-weight: 600;
}
/* Dropdown Content shows on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.arrow-flip {
    margin-left: 4px;
    transition: transform 0.3s ease;
}
/* Rotate arrow on dropdown hover */
.dropdown:hover .arrow-flip {
    transform: rotate(180deg);
}
/* Screen size < 600px wide = hide all besides leftmost element
& show Menu icon to collapse/expand menu */
@media screen and (max-width: 1200px) {
  .top-nav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .top-nav a.icon {
    float: right;
    display: block;
  }
}
/* Styles Responsive NavBar for small screens
& switches to VerticalBar */
@media screen and (max-width: 1200px) {
  .top-nav.responsive {position: relative;}
  .top-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .top-nav.responsive .dropdown {float: none;}
  .top-nav.responsive .dropdown-content {position: relative;}
  .top-nav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}