@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  line-height: 1.6;
}

/* Styles Logo Div in NavBar*/
.top-nav .logo {
  display: flex;
  align-items: center;
  color: #013D79;
  font-family: "Noto Serif", serif;
  font-size: 28px;
  margin: 12px 60px 0px 20px;
  font-weight: 600;
  line-height: normal;
  padding: 0px 0px;
  gap: 8px;
}

/* Styles TopNavBar */
.top-nav {
  background-color: #F8FDF9;
  overflow: hidden;
}
/* Links inside TopNavBar */
.top-nav a {
  float: left;
  display: block;
  color: #013D79;
  text-align: left;
  padding: 28px 20px;
  text-decoration: none;
  font-size: 20px;
}
/* Styles TopNavBar Links on hover& DropdownBtn if 
dropdown content shown except for class no-hover*/
.top-nav a:hover:not(.no-hover), 
.dropdown:hover .dropbtn:not(.no-hover) {
  background-color: #CFF3D7;
  color: #013D79;
  font-weight: 600;
}
/* Colors active class for current page */
.top-nav a.active {
  background-color: #CDBADE;
  color: #013D79;
  font-weight: 600;
}

/* Hides TopNavBar icon used for small screens */
.top-nav .icon {
  display: none;
}
/* Dropdown Menu Styling */
.top-nav .dropdown {
  float: left;
  overflow: hidden;
}
/* Dropdown Button Styling */
.top-nav .dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  margin: 0;
  padding: 28px 20px;
  color: #013D79;
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
}

/* Ensure no-hover dropdown aligns with the rest */
.top-nav .dropdown.no-hover .dropbtn {
  height: 100%;
  padding: 28px 20px; /* Matches other dropdown items */
  display: flex;
  align-items: center;
}

/* Dropdown Content */
.top-nav .dropdown-content {
  min-width: 180px;
  margin-top: 88px;
  display: none;
  position: absolute;
  background-color: #EBFBEE;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
  z-index: 1;
}
/* Links inside Dropdown */
.top-nav .dropdown-content a {
  float: none;
  color: #013D79;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.top-nav .dropdown-content a:hover {
  background-color: #DEF7E4;
  color: #013D79;
  font-weight: 600;
}
/* Dropdown Content shows on hover */
.top-nav .dropdown:hover .dropdown-content {
  display: block;
}

.top-nav .arrow-flip {
    margin-left: 4px;
    transition: transform 0.3s ease;
}
/* Rotate arrow on dropdown hover */
.top-nav .dropdown:hover .arrow-flip {
    transform: rotate(180deg);
}

/* Screen size < 600px wide = hide all besides leftmost element
& show Menu icon to collapse/expand menu */
@media screen and (max-width: 1200px) {
  .top-nav a:not(:first-child), .top-nav .dropdown .dropbtn {
    display: none;
  }
  .top-nav a.icon {
    float: right;
    display: block;
  }
  .top-nav .dropdown.no-hover {
    display: none;
  }
  .top-nav .dropdown-content {
    margin-top: 0; 
    position: relative;
    width: 100%; 
  }
  .top-nav .logo {
    padding: 14px;
  }
}
/* Styles Responsive NavBar for small screens
& switches to VerticalBar */
@media screen and (max-width: 1200px) {
  .top-nav.responsive {
    position: relative;
  }
  .top-nav.responsive .logo {
    position: fixed;
    display: flex;
    align-items: center;
  }
}
  .top-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .top-nav.responsive .mobile-dropstart {
    margin-top: 115px;
  }
  .top-nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .top-nav.responsive .dropdown {float: none;}
  .top-nav.responsive .dropdown-content {position: relative;}
  .top-nav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .top-nav.responsive .dropdown.no-hover {
    display: block;
    padding: 0px 0px 20px 0px
  }


/* Styles Hero Div */
/* Gallery Section Styling */
.hero-gallery {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
  text-align: center;
}
/* Gallery Div Styling */
.hero-gallery .gallery-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
}
/* Gallery Display Styling */
.hero-gallery .gallery {
  display: flex;
  width: 100%;
  height: 100%;
}
/* Gallery Img Styling */
.hero-gallery .gallery-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
  display: none;
}

.hero-gallery .gallery-image:first-child {
  display: block;
}
/* Gallery Arrow Styling */
.hero-gallery .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(182, 154, 208, 0.9); /* B69AD0 with 80% opacity */
  color: white;
  border: 3px solid rgba(255, 255, 255, 0.9);
  padding: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-gallery .arrow:hover {
  border: 3px solid rgba(1, 61, 121);
  color: rgba(1, 61, 121);
  background-color: rgba(188, 240, 198, 0.9)
}
/* Gallery Arrow Positioning */
.hero-gallery .left-arrow {
  left: 20px;
}
/* Gallery Arrow Positioning */
.hero-gallery .right-arrow {
  right: 20px;
}
/* Gallery Label Styling */
.hero-gallery .gallery-label {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(1, 61, 121, 0.8);
  color: white;
  padding: 20px 20px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 4px;
}

.hero-gallery .details-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #013d79;
  color: white;
  border: none;
  padding: 20px 60px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  border-radius: 8px;
}

.hero-gallery .details-button:hover {
  background-color: #bcf0c6;
  color: #013d79;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .hero-gallery .gallery-container {
      height: 500px;
  }
  .hero-gallery .gallery-image {
      height: 500px;
  }
}

@media screen and (max-width: 480px) {
  .hero-gallery .gallery-container {
      height: 350px;
  }
  .hero-gallery .gallery-image {
      height: 350px;
  }
}
