* {
  box-sizing: border-box;
}

.activitiesBreadcrumb {
  color: black !important;
  text-decoration: none !important;
}
.activitiesBreadcrumb:hover {
  color: #99b1c9 !important;
}
.clear-all:hover {
  text-decoration: underline;
}
/* Checkbox label customized */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  font-size: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hides default browser checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* KyotoVenture custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2px solid #a481c4;
  border-radius: 2px;
}

/* When checkbox is checked */
.checkbox-container input:checked ~ .checkmark {
  background-color: #a481c4;
}
/* Checkmark indicator */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Display checkmark */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
/* Checkmark style */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #001429;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox-group {
  display: inline-flex;
  flex-direction: column;
  gap: 16px;
}

.activities-search-box {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}
.activities-search-box input {
  width: 628px;
  height: 48px;
  padding: 8px;
  font-size: 16px;
  border: 2px solid #a481c4;
  border-radius: 4px;
}
.activities-search-button {
  padding: 8px 16px;
  background-color: #a481c4;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
/* Activities Search Button Hover */
.activities-search-button:hover {
  background-color: #8f70b2;
}

/* Cards Container */
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(302px, 1fr));
  gap: 16px;
}

/* Card Styling */
.card {
  border: 1px solid black;
  padding: 8px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  /* width: 302px; */
  height: 440px;
}

.activityTitle {
  margin-left: 212px;
}

/* Left-Side Layout Container for Breadcrumb, Filters,
Sort, Area, Price, Interests */
.left-layout-container {
  flex: 0 0 300px;
  padding-right: 24px;
  border-right: 2px solid darkgray;
}

/* Main Content Section */
.main-content {
  flex: 1;
}
.page-layout {
  display: flex;
  gap: 24px;
  padding: 0 80px;
  margin-top: 200px;
}
